/*this is our css library*/

@import url('components/topnavbar_style.css');

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
   
}

h1 {
    text-align: center;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #62e369;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: blue;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}